* {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 20px 0px;
  font-family: sans-serif;
  text-align: center;
}

.calculadora {
  background: linear-gradient(to bottom right, rgb(106, 106, 106), rgb(40, 40, 40));
  max-width: 300px;
  padding: 20px;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 64px;
  box-shadow: 0px 10px 15px rgb(107, 107, 107);
}

.calc-display {
  position: relative;
  text-align: right;
  font-family: 'DS-Digital', sans-serif;
  font-size: 30px;
  color: #000000;
  background: linear-gradient(to left, #a7af7c, #b6bc94);
  padding: 25px 20px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow-x: hidden;
}

.calc-result {
  text-align: right;
  font-family: 'DS-Digital', sans-serif;
  font-size: 30px;
}

.past-calc-value {
  position: absolute;
  font-size: 18px;
  top: 5px;
  right: 10px;
}

.calc-keys {
  height: 375px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

.calc-keys button {
  font-size: 18px;
  background: linear-gradient(to right, rgb(19, 19, 19), rgb(76, 76, 76));
  border: rgb(25, 25, 25) 6px inset;
  color: #FEFBEA;
  border-radius: 10px;
  transition: all .1s ease-in-out;
}

.calc-keys button:active {
  transform: scale(0.95);
  box-shadow: inset 0px 3px 93px -32px rgba(0,0,0,0.42);
  background: linear-gradient(to right, rgb(19, 19, 19), rgb(76, 76, 76));
  border: rgb(0, 0, 0) 6px inset;
  color: #FEFBEA;
  border-radius: 10px;
}

.special-calc-key {
  background: linear-gradient(to right, rgb(187, 0, 0), rgb(255, 54, 54)) !important;
  border: rgb(239, 1, 1) 6px inset !important;
  color: #FEFBEA;
  border-radius: 10px;
  transition: all .1s ease-in-out;
}

#operation-key-g {
  background: linear-gradient(to right, rgb(0, 211, 244), rgb(4, 165, 205)) !important;
  border: rgb(13, 191, 218) 6px inset !important;
  color: #FEFBEA;
  border-radius: 10px;
  transition: all .1s ease-in-out;
}

#key-c {
  grid-column: 1/3;
}

#operation-key-d {
  grid-row: 1;
  grid-column: 3;
}

#operation-key-m {
  grid-row: 1;
  grid-column: 4;
}

#operation-key-r {
  grid-row: 2;
  grid-column: 4;
}

#operation-key-s {
  grid-row: 3/5;
  grid-column: 4;
}

#number-key-0 {
  grid-column: 1/3;
}

#number-key-9 {
  grid-row: 2;
  grid-column: 3;
}

#number-key-8 {
  grid-row: 2;
  grid-column: 2;
}

#number-key-7 {
  grid-row: 2;
  grid-column: 1;
}

#number-key-6 {
  grid-row: 3;
  grid-column: 3;
}

#number-key-5 {
  grid-row: 3;
  grid-column: 2;
}

#number-key-4 {
  grid-row: 3;
  grid-column: 1;
}

#number-key-3 {
  grid-row: 4;
  grid-column: 3;
}